#loading-text{
 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  position: fixed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background:url(../images/loading.gif) #000000 center center no-repeat;
}